body {
  background-color: #cc0001
}
.logo {
  margin: auto;
  width: 50%;
}
.imglogo {
  display: block;
  margin:auto;
}
.formdiv {
  margin-top: 50px;
}
form {
  text-align: center;
  font-family: "Comic Sans MS";
  color: #FFC20F;
}
.send {
  background-color: #FFC20F;
  border: none; padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans MS";
}
